{% extends 'base.html' %}
{% load static %}

{% block title %}Lista de autores y libros{% endblock %}
{% block head %}

<link rel="stylesheet" type="text/css" href="{% static 'css/authors.css' %}">

<script src="https://kit.fontawesome.com/665f7ca1ae.js" crossorigin="anonymous"></script>

<script>
  function confirmDeleteAuthor(nombre, apellido, formId) {
    if (confirm(`¿Deseas eliminar a ${nombre} ${apellido}?`)) {
      document.getElementById(formId).submit();
    }
  }

  function confirmDeleteBook(titulo, formId) {
    if (confirm(`¿Deseas eliminar ${titulo}?`)) {
      document.getElementById(formId).submit();
    }
  }
</script>

{% endblock %}

{% block header %}

<h1>Lista de autores</h1>

<a href="{% url 'insert_author' %}" id="insert-author" title="Insertar autor">
  <i class="fa-solid fa-plus"></i>
</a>

{% endblock %}

{% block content %}

<div id="main-content">
  <ul>
    {% for author in authors %}

    <li class="author-list"> 
      <div class="author-name">{{ author }}</div>

      <div id="controls-div">

        <!-- TODO editar autor -->
        <a href="{% url 'update_author' author.id %}" id="edit-author" title="Editar autor">
          <i class="fa-regular fa-pen-to-square"></i>
        </a>

        <!-- TODO eliminar autor -->
        <form method="post" action="{% url 'delete_author' author.id %}" id="delete-{{ book.id }}">
          {% csrf_token %}
          <button type="button" id="delete-author" onclick="confirmDeleteAuthor('{{ author.name }}', '{{ author.surname }}', 'delete-{{ author.id }}')"
            title="Eliminar autor">
            <i class="fa-solid fa-trash"></i>
          </button>
        </form>
      </div>

    </li>

    <ul>
      {% for book in author.book_set.all %}
      <li class="book-list">
        <div class="book-title">{{ book }}</div>
        <div id="controls-div">
          <!-- <form method="post" action="{% url 'update_book' book.id %}" id="update-{{ book.id }}">
            {% csrf_token %}
            <button type="submit" id="edit-button" title="Actualizar libro">
              <i class="fa-regular fa-pen-to-square"></i>
            </button>
          </form> -->
  
          <a href="{% url 'update_book' book.id %}" id="edit-book" title="Actualizar libro">
            <i class="fa-regular fa-pen-to-square"></i>
          </a>
  
  
          <form method="post" action="{% url 'delete_book' book.id %}" id="delete-{{ book.id }}">
            {% csrf_token %}
            <button type="button" id="delete-book"
              onclick="confirmDeleteBook('{{ book.title }}', 'delete-{{ book.id }}')" title="Eliminar libro">
              <i class="fa-solid fa-trash"></i>
            </button>
          </form>
        </div>
      
      </li>


      
      {% endfor %}
    </ul>
    {% endfor %}

  </ul>
</div>

{% endblock %}